*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100%;
    height: 700px;
    background: rgba(229, 84, 115, 0.247);
    display: flex;
    float: left;
}
.head{
    margin: 170px 50px 0px 100px;
}
.header-title{
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 12px;
}
.header-description{
    margin-top: 16px;
    color: rgba(39, 39, 39, 0.616);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.header-img{
    width: 100%;
    height: 680px;
    margin-top: 20px;
    margin-left: 80px;
}
.header-btn{
    margin-top: 16px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    cursor: pointer;

    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
}
.shop-icon{
    width: 20px;
    height: 20px;
    padding: 3px;
}
/* Main section */
.main-container{
    align-items: center;
    text-align: center;
}
.flower-container{
    display: flex;
    float: left;
}
.featured-title{
    margin-top: 00px;
}