*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100%;
    height: 700px;
    background: rgba(229, 84, 115, 0.247);
    display: flex;
    float: left;
    margin-bottom: 200px;
}
.head{
    margin: 170px 50px 0px 100px;
}
.header-title{
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 12px;
}
.header-description{
    margin-top: 16px;
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 17px;
    font-weight: 300;
}
.header-img{
    width: 100%;
    height: 680px;
    margin-top: 20px;
    margin-left: 80px;
}
.header-btn{
    margin-top: 16px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    cursor: pointer;

    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
}
.shop-icon{
    width: 20px;
    height: 20px;
    padding: 3px;
}
/* Main section */
.main-container{
    align-items: center;
    text-align: center;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}
.featured-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.flower-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.one{
    width: 364px;
    height: 478px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.featured-flower-1{
    width: 370px;
    height: 370px;
    margin-top: 20px;
}
.two{
    width: 364px;
    height: 478px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.featured-flower-2{
    width: 300px;
    height: 458px;
    margin-top: 20px;
}
.three{
    width: 364px;
    height: 478px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.featured-flower-3{
    width: 300px;
    height: 477px;
}
.featured-flower-description{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.short-flower{
    margin-top: 87px;
}
/* special section */
.Special-container{
    display: flex;
    float: left;
    justify-content: center;
    gap: 50px;
    margin: 50px auto;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.special-img{
    width: 88px;
    height: 88px;
}